

.BgFullImage {
  background-image: url("./images/Johnny.jpg");
  background-repeat: no-repeat;
   height:100vh;
  background-position: center;
}

#GroceryList {
  padding: 2rem 1rem 3rem;
}


@keyframes strikeitem {
#GroceryList {
  padding: 2rem 1 rem 3rem;
}
}
