

.BgFullImage {
  background-image: url("./images/Johnny.jpg");
  background-repeat: no-repeat;
   width: 100vw;
   height:100vh;
  background-position: center;
}

#GroceryList {
  padding: 2rem 3rem 3rem;
}
