.NewTodoForm {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.NewTodoForm label {
  min-width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.NewTodoForm button {
  border: none;
  font-size: 1.5em;
  margin-left: 4px;
  padding: 0 4px;
  background: none;
  -webkit-appearance: none;
  cursor: pointer;
  background-color: rgba(24, 24, 24, 0);
  color: rgba(0, 0, 0, 0.822);
  border-radius: 4px;
}

.NewTodoForm button:hover {
  transform: scale(1.1);
}

.NewTodoForm input {
  font-family: "Quicksand", sans-serif;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.781);
  color: rgba(255, 255, 255, 0.822);
  border: none;
  padding-left: 4px;
}

@media only screen and (max-width: 413px) {
  .NewTodoForm {
    margin-top: 1rem;
  }

  .NewTodoForm button {
    border: none;
    font-size: 1.3em;
    margin: 0;
  }

  .NewTodoForm input {
    height: 1.6rem;
  width: 130px;
  }
}
